<template>
  <div>
    <Navbar />
    <Main />
  </div>
</template>

<script lang="ts">
    import Main from '@src/components/Main.vue'
    import Navbar from '@src/components/Navbar.vue'
    import Vue from 'vue'
    export default Vue.extend({
    components: {
      Main,
      Navbar,
    },
    name: 'App',
  })
</script>

<style>
</style>