<template>
  <main role="main" class="container">

    <div class="starter-template">
      <h1>Revues of {{user.username}}</h1>
      <div v-for="(c, idx) in containers" :key="idx" class="row mb-3">
        <div v-for="({company, id, rating, summary, title}) in c" :key="id" class="col-md-4">
          <div class="card">
            <div class="card-header">
              <div class="float-left">@{{company}}</div>
              <div class="float-right">⭐ {{rating}}</div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{title}}</h5>
              <p class="card-text">{{summary}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script lang="ts">
  interface IDataWithReviews {
    reviews: IReviews[]
  }

  interface IReviews {
    id: number
    title: string
    company: string
    rating: number
    summary: string
  }

  interface IMain {
    containers: IReviews[][]
    user: {
      username: string,
    }
  }

  import { ApolloQueryResult } from 'apollo-client'
  import decode from 'jwt-decode'
  import { drop, isEmpty, prepend, take } from 'ramda'
  import Vue from 'vue'
  const reviewsQuery = require('@src/queries/reviews.graphql')

  const groupByN = (N: number, list: IReviews[]): IReviews[][] => (
    isEmpty(list) ? [] : prepend(take(N, list), groupByN(N, drop(N, list)))
  )

  export default Vue.extend({
    apollo: {
      reviews: {
        loadingKey: 'loading',
        query: reviewsQuery,
        result( { data: { reviews } }: ApolloQueryResult<IDataWithReviews>) {
          this.containers = groupByN(3, reviews)
        },
      },
    },
    data(): IMain {
      return {
        containers: [] as IReviews[][],
        user: {
          username: decode(JWT_TOKEN).username,
        },
      }
    },
    name: 'Main',
  })
</script>