{% extends "admin/base_site.html" %}
{% load i18n static %}
{% block branding %}
<h1 id="site-name"><a> Login on Revues </a></h1>
{% endblock %}
{% block title %}Revues{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />
{{ form.media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} login{% endblock %}

{% block usertools %}{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if invalid %}
<p class="errornote">
  Invalid username or password, please try again.
</p>
{% endif %}

<div id="content-main">
<form action="/authenticate" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    <div class="form-row">
      <label class="required" for="id_username">Username:</label>
      <input type="text" name="username" autofocus="" maxlength="254" required="" id="id_username">
    </div>
  </div>
  <div class="form-row">
    <label class="required" for="id_password">Password:</label>
    <input type="password" name="password" required="" id="id_password">
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

</div>
{% endblock %}
